
body
{
  font-family: "Andale Mono", AndaleMono, monospace!important;
}

.navbar
{
  
  background: hsla(204, 92%, 45%, 0.94) ;
  border-radius: 0!important;
  margin-bottom: 0!important;
}

.navbar .navbar-brand
{
  font-size: 20px;
  font-weight: bold;
  color:white ;
}
.navbar li a 
{
  font-weight: bold;
  color: white;
  font-size: 15px;
  
}

.navbar li a:hover
{
  background: transparent;
  color: #000000;
  transition: all 2s ease;
}
.navbar .nav > li > a:focus, 
.navbar .nav > li > a:hover {
	text-decoration: none;
	background-color: transparent;
}


.carousel-inner > .item > a > img, 
.carousel-inner > .item > img {
	line-height: 1;
	width: 100%;
  height: 600px!important;
}

.navbar .navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid white;
	border-radius: 0;
  
}

.navbar .navbar-toggle .icon-bar {
	background-color: white;
}

.multiple img {
	vertical-align: middle;
	width: 100%;
}

.multiple 
{
  margin-top: none;
  padding-top: 5%;
  background: hsl(65, 46%, 61%);

}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
	text-decoration: none;
background: transparent;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
	border-color: #337ab7;
}

.navbar-nav > li > .dropdown-menu {
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
  background:hsla(204, 92%, 45%, 0.94);
}




.navbar .dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover

{
	background: tranparent;
	text-decoration: none;
}

.navbar .dropdown-menu > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: white;
	white-space: nowrap;
}

.navbar .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
	background-color: transparent!important;
	border-color: #337ab7;
}

.navbar .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
	color: #fff;
	text-decoration: none;
	background-color: transparent;
}

.navbar .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
	background-color: transparent;
	border-color: #337ab7;
}
